<div class="container my-2">
  <div class="text-center my-2">
    <h1 class="h2 text-gray-900 mb-4">Chat Room!</h1>
  </div>
  <div class="ui basic segment">
    <div class="ui form">
      <div class="form-group">
        <label>Post Message:</label>
        <textarea class="form-control" rows="3" id="post-field"></textarea>
      </div>
      <button id="post-btn" class="btn btn-success" type="submit">Post</button>
    </div>
    <div id="post-err" class="ui tiny compact negative message" style="display:none;">
      <p>Oops! Something went wrong.</p>
    </div>
  </div>
  <div class="row mt-5 border">
    <div class="col-sm-4 border-right">
      <h3 class="text-center my-2">Members</h3>
      <hr>
      <div id="users-content">
      </div>
    </div>
    <div class="col-sm-8">
      <h3 class="text-center my-2">Messages</h3>
      <hr>
      <div id="chat-content" class="feed"> </div>
    </div>
  </div>
</div>

