<style>
  .card {
    background-color: lightgrey;
  }

</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-7 m-auto">
      <div class="p-5 card">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Reset Password!</h1>
        </div>
        <form class="user" action="/user/reset-password" method="post">
          <div class="form-group">
            <input type="password" min="6" class="form-control form-control-user" id="InputPassword" name="password" placeholder="Password" required>
          </div>
          <input type="hidden" name="token" value=<%= req.query.token %>>
          <button type="summit" class="btn btn-primary btn-user btn-block">
            Reset
          </button>
          <hr>
        </form>


      </div>
    </div>
  </div>
</div>
